.status-wrapper {
    background-color: #4C5B6C;
    padding: 2%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    max-height: 80vh;
    overflow-y: auto;
    border-radius: 23px;
  }
  
  .status-wrapper:hover {
    box-shadow: 0px 5px 7px #AFB3B7;
    transition: 0.3s;
  }
  
  .toggle-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .isComplete {
    background-color: #717B7F;
    border-radius: 2px;
    border: none;
    padding: 10px;
    width: 150px;
    color: #333;
    font-weight: bold;
    transition: background-color 0.2s;
    cursor: pointer;
  }
  
  .isComplete.active {
    background-color: #0D1F23;
    color: #918981;
  }

  .todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .todo-list-items {
    background-color: #9FA4A3;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: 5px;
   padding-bottom: 2px;
   padding-top: 5px;
   margin-bottom: 10px;
   border: 23px;
   border-radius: 5px;
}
.todo-list-items h3{
    font-size: 25px;
    color: #3A3A3A;
    margin-top: 8px;
}

.icon-delete{
    font-size: 35px;
    cursor: pointer;
}

.icon-delete:hover{
    color: red;
    transition: 0.2s;
}

.check-icon{
    font-size: 35px;
    cursor: pointer;
    margin-left: 10px;
    color: green;
}

.check-icon:hover{
color: greenyellow;
transition: 0.2s;
}

.todo-list-items.due-today-red .due {
  color: red;
}

.todo-list-items.due-today-yellow .due {
  color: yellow;
}

.todo-list-items.due-today-green .due {
  color: green;
}

.message{
  color: red;
  text-align: center;
}

